# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Strapi
/strapi/bohren-strapi/node_modules
/strapi/bohren-strapi/.env
/strapi/bohren-strapi/.gitignore
/strapi/bohren-strapi/dist
